.available-magnet {
  fill: yellow;
}


/* element styling */

.available-cell rect {
  stroke-dasharray: 5, 2;
}

.splitter {
  height: 10px;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
  cursor: row-resize;
}

.containerPanel {
  resize: none;
  border: none;
  overflow: hidden;
}

.topPanel {
  resize: vertical;
  padding: 10px;
  overflow: auto;
  height: 90%
}

.bottomPanel {
  resize: vertical;
  /* resizable */
  padding: 10px;
  height: 100%;
  overflow: auto;
  background-color: white !important;
}

.pane-sm {
  max-width: 300px !important;
  min-width: 200px !important;
}

.hoverText:hover {
  color: #64ADF5
}

#sidebar .btn-group .btn,
#sidebar .btn-group .btn+.btn {
  border: 0px;
  border-radius: 0;
}

#sidebar .icon {
  color: black;
}

#sidebar button.active .icon {
  color: #64ADF5;
}

#sidebar .btn-group .active {
  background-color: transparent !important;
}

#sidebar .icon {
  font-size: 19px;
}